<!DOCTYPE html>

<html lang="ko">
<head>

<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport" />

<meta name="_csrf" content="1c7a7c9b-2300-46dc-81d5-b90cb0470a3b" />
<meta name="_csrf_header" content="X-CSRF-TOKEN" />
<meta name="_csrf_parameter" content="_csrf" />

<title>경기주거복지포털! 경기도 전세피해지원센터, 전세피해지원센터</title>
<link href="http://gico.or.kr" hreflang="ko" rel="alternate" />

<!-- s.SEO -->
<meta content="ko_KR" property="og:locale" />
<meta content="article" property="og:type" />
<meta content="경기주거복지포털, 경기도 전세피해지원센터" property="og:title" />
<meta content="https://housing.gg.go.kr/" property="og:url" />

<meta content="https://housing.gg.go.kr/assets/images/top-logo-1.png" property="og:image" />
<meta content="image/png" property="og:image:type" />

<meta content="경기도내 주거복지정보, 공공임대주택, 주거비지원, 주택금융제도, 주택개량지원, 기타복지서비스, 경기도 전세피해지원센터, 전세피해지원센터" name="description" />
<meta content="경기도내 주거복지정보, 공공임대주택, 주거비지원, 주택금융제도, 주택개량지원, 기타복지서비스, 경기주거복지, 경기주거복지포털, 경기도 전세피해지원센터, 전세피해지원센터" name="keywords" />
<meta content="ca8e7cbd98cd13cdf1d4ae7e53637ce65b040c57" name="naver-site-verification" />

<link href="/assets/seo/Favicon.png" rel="icon" type="image/x-icon" />
<link href="/assets/seo/apple-touch-icon-60.png" rel="apple-touch-icon-precomposed" />
<link href="/assets/seo/apple-touch-icon-76.png" rel="apple-touch-icon-precomposed" sizes="60x60" />
<link href="/assets/seo/apple-touch-icon-120.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
<link href="/assets/seo/apple-touch-icon-152.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
<!-- e.SEO -->

<!-- s.Style (head2 복원) -->
<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
<link rel="stylesheet" href="/assets/plugins/entypo/entypo.css" />
<link rel="stylesheet" href="/assets/plugins/luplino/luplino-select/dist/luplino-select.css" />
<!-- e.Style -->

<!-- s.Javascript -->
<script src="/assets/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="/assets/plugins/luplino/luplino-core/dist/luplino-core.js"></script>
<script src="/assets/plugins/luplino/luplino-select/dist/luplino-select.js"></script>
<!-- e.Javascript -->

<!-- s.gico 레거시 -->
<link rel="stylesheet" type="text/css" href="/assets/css/gico.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/gico2.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/sub.css" />
<script src="/assets/js/gico.js"></script>
<script src="/assets/js/jquery.money.js"></script>
<!-- e.gico -->

<!-- s.menu -->
<script src="/assets/js/menu.js"></script>
<!-- e.menu -->

<link rel="stylesheet" type="text/css" href="/assets/css/gico-cms.css" />
<script src="/assets/js/gico-housing.js"></script>

<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

<!-- 메인 renewal js -->
<script src="/assets/renewal/js/slick.js"></script>
<script src="/assets/renewal/js/common.js"></script>
<!-- // 메인 renewal js -->

<!-- 메인 renewal css -->
<link rel="stylesheet" href="/assets/renewal/css/jquery-ui.min.css" />
<link rel="stylesheet" href="/assets/renewal/css/common.css" />
<link rel="stylesheet" href="/assets/renewal/css/main2.css" />
<!-- // 메인 renewal css -->

<!-- s.renewal2 Swiper + CSS (마지막에 로드해 GNB/메인 영역 우선) -->
<script src="/assets/renewal2/js/swiper-bundle.min.js"></script>
<script src="/assets/renewal2/js/common.js"></script>
<link rel="stylesheet" href="/assets/renewal2/css/swiper-bundle.min.css" />
<link rel="stylesheet" href="/assets/renewal2/css/reset.css" />
<link rel="stylesheet" href="/assets/renewal2/css/common.css" />
<link rel="stylesheet" href="/assets/renewal2/css/main.css" />

<!-- e.renewal2 -->

<script>
    /*<![CDATA[*/
    var SCRIPT_SESSION = (function(json){return json;})('{\"userCd\":null,\"userNm\":null,\"locale\":null,\"timeZone\":null,\"dateFormat\":null,\"login\":false,\"message\":null,\"monthCnt\":0,\"expires\":0,\"details\":{},\"authorityList\":[],\"authGroupList\":[],\"dateTimeFormat\":\"null null\",\"timeFormat\":null}');
    /*]]>*/
    SCRIPT_SESSION = JSON.parse(SCRIPT_SESSION);

    var MENU_ID = 24205;
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    var csrfHeader = header;

    $(document).ready(function(){
        /* 202401
        $(document)[0].oncontextmenu = function() {return false;}*/

        if (MENU_ID != null && typeof MENU_ID !== "undefined" && typeof commonFn !== "undefined" && commonFn.navObj){
            commonFn.navObj.init(MENU_ID);
        }

        // if ( String(MENU_ID).substr(0,2) == "24"){
        if (typeof commonFn !== "undefined" && commonFn.navObj && commonFn.navObj.path.length > 0 && commonFn.navObj.path[0]['menuId'] == 24000){
            if (commonFn.navObj.menuInfo.navId != '01_04_19'){

            }

            $("#site-navigation").addClass('h580');


            if (commonFn.navObj.path.length == 3){
                if ($("ul.title-menu-list").length > 0 && commonFn.navObj.menuInfo.sort > 0){
                    $("ul.title-menu-list>li:eq("+(commonFn.navObj.menuInfo.sort-1)+")").addClass("active");
                }
            }
        } else if (typeof commonFn !== "undefined" && commonFn.navObj && commonFn.navObj.path.length > 0 && [51500, 24204, 24214, 24215, 51501, 24207, 24205, 24221, 51502].indexOf(commonFn.navObj.menuInfo.menuId) > -1) {
            $("#site-navigation").addClass('h580');

            if (commonFn.navObj.path.length == 3){
                if ($("ul.title-menu-list").length > 0 && commonFn.navObj.menuInfo.sort > 0){
                    $("ul.title-menu-list>li:eq("+(commonFn.navObj.menuInfo.sort-1)+")").addClass("active");
                }
            }
        }

        if (typeof commonFn !== "undefined" && commonFn.navObj && commonFn.navObj.path.length > 0){
            var vsClass = commonFn.navObj.path[0]['vs-class'];

            $("#site-sub-header").addClass(vsClass);
            $("#site-navigation").addClass('sel-num-'+commonFn.navObj.path.length );

            var pageMenuCategoryNm = commonFn.navObj.path[0].menuNm;
            var pageMenuNm = commonFn.navObj.path[commonFn.navObj.path.length-1].menuNm;
            // console.log(pageMenuCategoryNm, pageMenuNm);

            if ($("#gico-site-page-title").length > 0){
                $("#gico-site-page-title").text(pageMenuCategoryNm);
            }
        }


        // F12 버튼 방지
        /*
        $(document).bind('keydown',function(e){
            if ( e.keyCode == 123 ) {
                e.preventDefault();
                e.returnValue = false;
            }
        });
        */
        /* 202401
        document.onmousedown = function(event){
            var msg = "마우스 우측 버튼기능은 제한됩니다.";
            if (event.button == 2){
                alert(msg);
                return false;
            }
        }*/

        if (typeof luplino !== "undefined" && luplino.info){
            luplino.info.weekNames = [
                {label: "일"},
                {label: "월"},
                {label: "화"},
                {label: "수"},
                {label: "목"},
                {label: "금"},
                {label: "토"}
            ];
        }
    });


    function searchWord1() {
        var $tgid = $("#searchWord");
        var filter = $tgid.val().trim();
        if (filter === "") {
            alert("검색어를 입력해 주세요.");
            $tgid.focus();
            return;
        }
        location.href = "/jsp/search.do?filter=" + encodeURI(filter);
    }

    function searchWord2(srchWord) {
        location.href = "/jsp/search.do?filter=" + encodeURI(srchWord);
    }

    function filterSearch(tgid){
        var $tgid = $("#"+tgid);
        var filter = $tgid.val().trim();
        if (filter === "") {
            alert("검색어를 입력해 주세요.");
            $tgid.focus();
            return;
        }
        location.href = "/jsp/search.do?filter=" + encodeURI(filter);
    }

    function fnLogout() {
        var token = $("meta[name='_csrf']").attr("content");
        var parameter = $("meta[name='_csrf_parameter']").attr("content");

        var $form = $('<form></form>');
        $form.attr('action', "/mypage/logout.do");
        $form.attr('method', 'post');
        $form.appendTo('body');

        var hiddenToken = $('<input type="hidden" value="' + token + '" name="' + parameter + '" >');
        $form.append(hiddenToken);

        $form.submit();
    }
</script>

</head>

<body>
    <script language="javascript">
	    $(document).ready(function(){
	    	var arr = [
	   			['24101','24102','24110','24103','24104','24105','24108','24109','24201','24202','24206','24203','24208','24217','3570','24213','3718','24301','24302','24303','24304','24305','24306','24421','24401','24404','24402','24403','24405','51500','24204','24214','51501','24207','24205','24221','51502'],
				['/html/24101.do','/html/24102.do','/html/24110.do','/html/24103.do','/html/24104.do','/html/24105.do','/html/24108.do','/html/24109.do','/html/24201.do','/html/24202.do','/html/24206.do','/html/24203.do','/html/24208.do','/html/24217.do','/html/3570.do','/html/24213.do','/html/3718.do','/html/24301.do','/html/24302.do','/html/24303.do','/html/24304.do','/html/24305.do','/html/24306.do','/html/24421.do','/html/24401.do','/html/24404.do','/html/24402.do','/html/24403.do','/contents/list','/html/51500.do','/html/24204.do','/html/24214.do','/html/51501.do','/html/24207.do','/html/24205.do','/html/24221.do','/html/51502.html'],
				['공공임대주택 지원 서비스','공공임대주택 공통 입주자격','통합공공임대주택','영구임대주택','국민임대주택','경기도 행복주택','기존주택 매입임대주택','기존주택 전세임대주택','주거비 및 금융지원 서비스','주거급여','버팀목 전세자금대출','주거안정 월세대출','내집마련 디딤돌대출','보금자리론','주거취약계층 이주지원 버팀목전세자금','경기도 저소득층 전세금 대출보증 및 이자지원','주거취약계층 주거상향 지원','주택개량 지원 서비스','햇살하우징','G-하우징','어르신 안전 하우징',' 장애인 주택개조사업','아동주거빈곤가구 클린서비스 지원사업','저소득층 에너지효율개선사업','기타 복지사업','경기도형 긴급복지지원','국민기초생활보장제도','긴급복지지원','시·군 자체 주거복지사업','주거복지 및 금융지원','청년전용 버팀목 전세자금 대출','청년전용 보증부 월세대출','신혼희망타운전용 주택 담보 장기대출','신혼부부전용 주택구입자금대출','신혼부부전용 전세자금대출','청년월세 한시 특별지원','청년 전세보증금반환보증 보증료 지원']
	    	];

	        for(var i=0; i<40; i++){
	        	if(arr[0][i] == MENU_ID){
					$("#preBtn").show();
					$("#nextBtn").show();

			        $("#prePage").html("← " + arr[2][i-1]);
			        $("#preBtn").attr("href", arr[1][i-1]);

			        $("#nextPage").html(arr[2][i+1] + " →");
			        $("#nextBtn").attr("href", arr[1][i+1]);
			        
	        		switch(MENU_ID){
		        		case 24101:
		        		case 24201:
		        		case 24301:
		        		case 24401:
		        		case 51500:
		        			$("#preBtn").hide();
		        			break;
		        		case 24109:
		        		case 3718:
		        		case 24421:
		        		case 24405:
					case 51502:
						$("#nextBtn").hide();
							break;
		        		default:
		        			break;
        			}
	        	}
	        }
	        
	    });
    
        function fnPdfView(pid){
            var openNewWindow = window.open("about:blank");
            openNewWindow.location.href = "/pdfviewer/ezpdf/customLayout.jsp?encdata="+pid;
        }

        /*
        $(document).ready(function(){
        });
        */

    </script>

	<dl id="skipNavigation">
  <dt class="hidden_txt">바로가기 및 건너띄기 링크</dt>
  <dd><a href="#gico_contents_start" title="본문 바로가기">본문으로 바로가기</a></dd>
  <dd><a href="#mn_24000" title="주메뉴 바로가기">주 메뉴 바로가기</a></dd>
</dl>
	
	<div class="root" id="cms" name="#top">
	
	    <div>

    <script>
        /* ========= 기존 gnb.html에서 이식 =========
           - gcObj.closeBanner()로 .withAD 클래스 자동 제거 (렌더 직후)
           - linkBanner(): 배너 링크 함수 (gnb2는 배너 없음, 하위 호환용) */
        $(document.body).ready(function () {
            if (typeof gcObj !== "undefined" && typeof gcObj.closeBanner === "function") {
                gcObj.closeBanner();
            }
        });

        function linkBanner() {
            var url = $("#link").val();
            if ($("#target").val() == "Y") {
                var openNewWindow = window.open("about:blank");
                openNewWindow.location.href = url;
            } else {
                window.location.href = url;
            }
        }
    </script>

    <header id="gnb">
        <div class="header-t">
            <h1 class="logo"><a href="/">경기도, 경기주거복지포털 메인 로고</a></h1>
            <div class="head-inner">
                <nav id="gnbN">
                    <ul class="gnb">
                        <li id="mn_24000">
                            <button class="btn-tit" type="button">주거복지</button>
                            <ul class="gnb-depth2">
                                <li><a aria-label="해당 페이지로 이동" href="/html/24001.do">주거복지 소개</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/24101.do">공공임대주택 공급</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/24201.do">주거비·금융지원</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/24301.do">주거환경개선지원</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/24401.do">기타 복지서비스</a></li>
                            </ul>
                        </li>
                        <li id="mn_51000">
                            <button class="btn-tit" type="button">청년·신혼 주거복지</button>
                            <ul class="gnb-depth2">
                                <li><a aria-label="해당 페이지로 이동" href="/html/51100.do">매입임대주택</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/51200.do">경기도 행복주택</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/51400.do">전세임대주택</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/51500.do">주거비·금융지원</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/51503.do">자립준비청년 지원</a></li>
                            </ul>
                        </li>
                        <li id="mn_25000">
                            <button class="btn-tit" type="button">맞춤 주거 검색</button>
                            <ul class="gnb-depth2">
                                <li><a aria-label="해당 페이지로 이동" href="/jsp/myfavorite2.do">맞춤 서비스 찾기</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/board/20080700000001/list">공공임대주택 찾기</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/jsp/instinfo.do?pageSize=50">시군 주거복지센터 찾기</a></li>
                            </ul>
                        </li>
                        <li id="mn_28000">
                            <button class="btn-tit" type="button">주거복지센터</button>
                            <ul class="gnb-depth2">
                                <li><a aria-label="해당 페이지로 이동" href="/html/27100.do">경기도 주거복지센터 소개</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/board/20041300000001/list">공지사항</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/board/20041300000005/list">주거복지 자료실</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/board/20041300000010/list">묻고 답하기</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/board/20041300000004/list">FAQ</a></li>
                            </ul>
                        </li>
                        <li id="mn_32000">
                            <button class="btn-tit" type="button">전세피해센터</button>
                            <ul class="gnb-depth2">
                                <li><a aria-label="해당 페이지로 이동" href="/html/3618.do">전세피해 및 예방지원센터 소개</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/board/23100100000001/list">공지사항</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/board/24010300000001/list">전세피해 자료실</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/3619.do">피해주택 관리지원</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/3768.do">긴급생계비 지원</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="/html/3769.do">긴급주거 이주비 지원</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="#" onclick="window.open('https://jeonse.kgeop.go.kr/');">전세피해 지원 시스템</a></li>
                            </ul>
                        </li>
                        <li class="last">
                            <ul class="btn-wrap">
                                <li><a aria-label="해당 페이지로 이동" href="#" onclick="window.open('https://www.gg.go.kr');">경기도청</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="#" onclick="window.open('https://www.gh.or.kr');">경기주택도시공사</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="#" onclick="window.open('https://www.lh.or.kr');">한국토지주택공사</a></li>
                                <li><a aria-label="해당 페이지로 이동" href="#" onclick="window.open('https://www.gg.go.kr/contents/contents.do?ciIdx=791&amp;menuId=2546');">부동산 무료 법률상담</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="mnu-info">
                    <button class="btn-search" id="mnuSch" type="button">검색</button>
                    <div class="after">
                        <a aria-label="로그인 페이지로" class="btn-logout login" href="/main/login.do">로그인</a>
                        
                        <a aria-label="회원가입 페이지로" class="btn-mypage access" href="/main/member_age.do">회원가입</a>
                        
                    </div>
                    <button class="btn-close-gnb" type="button">GNB닫기</button>
                </div>
                <div class="mo-after">
                    <a aria-hidden="true" class="btn-logout login" href="/main/login.do">로그인</a>
                    
                    <a aria-hidden="true" class="btn-mypage access" href="/main/member_age.do">회원가입</a>
                    
                </div>
            </div>
            <div class="mo-hd-mnu">
                <a aria-hidden="true" class="mo-btn-search" href="#">검색</a>
                <button class="mo-btn-gnb" type="button">GNB열기버튼</button>
            </div>
            <div class="searchArea">
                <form action="">
                    <fieldset>
                        <legend>검색</legend>
                        <div class="inpText-wrap search">
                            <div>
                                <input id="headerFilter" name="headerFilter" placeholder="검색어를 입력하세요." title="검색어 입력 - 예)검색어를 입력하세요." type="text" />
                                <button onclick="javascript:filterSearch('headerFilter');return false;" type="submit"><em class="hidden_txt">검색</em></button>
                            </div>
                            <dl>
                                <dt>인기검색어:</dt>
                                <dd>
                                    <div>
                                        <span><a href="javascript:searchWord2(&#39;주거급여&#39;)"><span>주거급여</span></a></span>
                                        <span><a href="javascript:searchWord2(&#39;청년월세지원&#39;)"><span>청년월세지원</span></a></span>
                                        <span><a href="javascript:searchWord2(&#39;임대주택&#39;)"><span>임대주택</span></a></span>
                                        <span><a href="javascript:searchWord2(&#39;국민임대&#39;)"><span>국민임대</span></a></span>
                                    </div>
                                </dd>
                            </dl>
                            <button class="btn_search_close" onclick="javascript:$('.searchArea').hide(); $('.btn-search').focus();return false;" type="button">닫기</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </header>

</div>

        <!-- Content Start -->
        <div class=""><!--청년 주거복지 -->
<div class="trunk visual visual-sub vs-1 h580">
    <div class="stem fullwidth">
        <div class="bine-12">
            <div class="title-wrap">
                <div class="title-box">
                    <div class="title-td">
                        <div class="title-text">청년·신혼 주거복지</div>
                        <div class="title-sub-text">주거비·금융지원</div>
                        <ul class="title-menu-list">
                        
                            <li><a href="/html/24204.do"><span>청년전용 버팀목 전세자금 대출</span></a></li>
                            <li><a href="/html/24214.do"><span>청년전용 보증부 월세대출</span></a></li>
                            <li><a href="/html/51501.do"><span>신혼희망타운전용<br/>주택 담보 장기대출</span></a</li>
                            <li><a href="/html/24207.do"><span>신혼부부전용<br/>주택구입자금대출</span></a></li>
                            <li><a href="/html/24205.do"><span>신혼부부전용<br/>전세자금대출</span></a></li>
                            <li><a href="/html/24221.do"><span>청년월세 한시 특별지원</span></a></li>
                            <li><a href="/html/51502.do"><span>전세보증금반환보증 보증료 지원</span></a></li>

			            <!--
                            <li><a href="/html/45001.do"><span>청년 매입임대주택</span></a></li>
                            <li><a href="/html/45002.do"><span>경기행복주택(청년 등)</span></a></li>
                            <li><a href="/html/45003.do"><span>경기행복주택<br/>임대보증금이자지원</span></a></li>
                            <li><a href="/html/45004.do"><span>청년 기존주택 전세임대</span></a></li>
                            
                            <li><a href="/html/45005.do"><span>청년전용 버팀목 전세자금 대출</span></a></li>
                            <li><a href="/html/45006.do"><span>청년전용 보증금 월세대출</span></a></li>
                            <li><a href="/html/45007.do"><span>중소기업취업청년<br/>전월세보증금대출</span></a></li>
                            <li><a href="/html/45008.do"><span>신혼희망타운전용<br/>주택 담보 장기대출</span></a></li>
                            
                            <li><a href="/html/45009.do"><span>신혼희망타운전용<br/>주택 담보 장기대출</span></a></li>
                            <li><a href="/html/45010.do"><span>신혼부부전용<br/>주택구입자금대출</span></a></li>
                            <!--li><a href="/html/24209.do"><span>주거안정 주택구입자금대출 </span></a></li>
                            <li><a href="/html/24207.do"><span>신혼부부전용<br/>주택구입자금대출</span></a></li>

                            <li><a href="/html/24214.do"><span>청년전용 보증부 월세대출</span></a></li>
                            <li><a href="/html/24215.do"><span>중소기업 취업청년<br/>전월세보증금 대출</span></a></li>
                            <li><a href="/html/24216.do"><span>노후고시원거주자<br/>주거이전대출</span></a></li>
                            <li><a href="/html/24217.do"><span>보금자리론</span></a></li>

                            <li><a href="/html/24218.do"><span>더 나은 보금자리론</span></a></li>

                            <li><a href="/html/51100.do"><span>청년 매입임대주택</span></a></li>
                            <li><a href="/html/51200.do"><span>경기행복주택(청년 등)</span></a></li>
                            <li><a href="/html/51300.do"><span>경기행복주택<br/>임대보증금이자지원</span></a></li>
                            <li><a href="/html/51400.do"><span>청년 기존주택 전세임대</span></a></li>
                            <li><a href="/html/24215.do" ><span>중소기업취업청년<br/>전월세보증금대출</span></a></li>
                        -->

                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div></div>
        
		<!-- s.sub common -->

	    <div class="trunk section-sub-start sub-sel-nav" id="site-navigation">
	<!--<div class="trunk section-sub-start sub-sel-nav">-->
	    <div class="stem fullwidth">
	        <div class="bine-12">
	            <div class="gico-sel-bar">
	                <ul>
	                    <li class="gico-home sel-0">
	                        <div class="gico-sel-home">
	                            <a href="javascript:void(0);"><span class="hidden">홈</span></a>
	                        </div>
	                    </li>
	                    <li class="gico-sel sel-1" id="li_depth_1">
	                        <div class="gico-sel-title">
	                            <a href="javascript:void(0);" id="depth_0"> - </a>
	                        </div>
                            <div class="gico-sel-list" id="depth_0_select">
	                        </div>
	                    </li>
	                    <li class="gico-sel sel-2" id="li_depth_2">
	                        <div class="gico-sel-title">
	                            <a href="javascript:void(0);" id="depth_1"> - </a>
	                        </div>
	                        <div class="gico-sel-list" id="depth_1_select">
	                        </div>
	                    </li>
	                    <li class="gico-sel sel-3" id="li_depth_3">
	                        <div class="gico-sel-title">
	                            <a href="javascript:void(0);" id="depth_2"> - </a>
	                        </div>
	                        <div class="gico-sel-list" id="depth_2_select">
	                        </div>
	                    </li>
	                    <div class="clearfix"></div>
	                </ul>
	            </div>
	        </div>
	        <div class="clearfix"></div>
	    </div>
	<!--</div>-->

<!-- 
	<div class="wid">
		<div class="trunk section-sub-start sub-nav">
		    <div class="stem fullwidth">
		        <div class="bine-12">
		            <div class="sub-nav-bar">
		                <ul>
				            <li id="li_depth_0">
				                <p><a th:href="@{#n}" id="depth_0" class="selected">-</a></p>
				                <div id="depth_0_select">
				                </div>
				            </li>
				            <li id="li_depth_1">
				                <p><a th:href="@{#n}" id="depth_1" class="selected">-</a></p>
				                <div id="depth_1_select">
				                </div>
				            </li>
				            <li id="li_depth_2">
				                <p><a th:href="@{#n}" id="depth_2" class="selected">-</a></p>
				                <div id="depth_2_select">
				                </div>
				            </li>
		                    <div class="clearfix"></div>
		                </ul>
		            </div>

		            <div class="gico-sel-bar">
                        <ul>
                            <li class="gico-home sel-0">
                                <div class="gico-sel-home">
                                    <a href="javascript:void(0);"><span>홈</span></a>
                                </div>
                            </li>
                            <li class="gico-sel sel-1">
                                <div class="gico-sel-title">
                                    <a href="#" id="depth_0"> - </a>
                                </div>
                                <div class="gico-sel-list" id="depth_0_select">
                                    <ul>
                                        <li><a href="member_bookMark.do">내 관심정보</a></li>
                                        <li><a href="member_notification.do">내 알림정보</a></li>
                                        <li><a href="member_qna.do">묻고 답하기</a></li>
                                        <li><a href="member_cnsl.do">상담 신청내역</a></li>
                                        <li><a href="member_info.do">회원정보수정</a></li>
                                        <li><a href="member_out.do">회원탈퇴</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="gico-sel sel-2">
                                <div class="gico-sel-title">
                                    <a href="#" id="depth_1">마이페이지</a>
                                </div>
                                <div class="gico-sel-list" id="depth_1_select">
                                    <ul>
                                        <li><a href="member_bookMark.do">내 관심정보</a></li>
                                        <li><a href="member_notification.do">내 알림정보</a></li>
                                        <li><a href="member_qna.do">묻고 답하기</a></li>
                                        <li><a href="member_cnsl.do">상담 신청내역</a></li>
                                        <li><a href="member_info.do">회원정보수정</a></li>
                                        <li><a href="member_out.do">회원탈퇴</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="gico-sel sel-3">
                                <div class="gico-sel-title">
                                    <a href="#" id="depth_2">마이페이지</a>
                                </div>
                                <div class="gico-sel-list" id="depth_2_select">
                                    <ul>
                                        <li><a href="member_bookMark.do">내 관심정보</a></li>
                                        <li><a href="member_notification.do">내 알림정보</a></li>
                                        <li><a href="member_qna.do">묻고 답하기</a></li>
                                        <li><a href="member_cnsl.do">상담 신청내역</a></li>
                                        <li><a href="member_info.do">회원정보수정</a></li>
                                        <li><a href="member_out.do">회원탈퇴</a></li>
                                    </ul>
                                </div>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>


		        </div>
		        <div class="clearfix"></div>
		    </div>
		</div>
	</div>
 -->
 	
</div>
	    <div>

    <div class="trunk sub-share">
        <div class="stem">
            <div class="bine-12">
                <div class="sub-share-bar">
                    <ul>
	                    <li><a class="share-blog" href="javascript:shareSNS(3);" title="새창 열림"><span class="hidden">블로그</span></a></li>
	                    <li><a class="share-kakao" href="javascript:shareKakaotalk();" title="새창 열림"><span class="hidden">카카오톡</span></a></li> 
	                    <li><a class="share-fb" href="javascript:shareSNS(1);" title="새창 열림"><span class="hidden">페이스북</span></a></li>
	                    <li><a class="share-mark" href="javascript:memberBookMark();"><span class="hidden">책갈피</span></a></li>
	                    <li><a class="share-print" href="javascript:printDiv();" title="새창 열림"><span class="hidden">프린트</span></a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="trunk sub-title" id="gico_contents_start">
        <div class="stem fullwidth" id="gico_subTitle">
            <div class="bine-12">
                <div class="title-box">
                    <h2 class="title"><span>신혼부부전용전세자금대출</span></h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

	<script language="javascript">
		//제목 이동 자동 스크롤
		window.addEventListener('load', function () {
	    	var posTop = $('#site-navigation').offset().top;
	    	setTimeout(function () { 
	    	    $('html')
	    	    .stop()
	    	    .animate({ scrollTop: posTop - $('.h_top').height() + 'px' }, 500);
	    	}, 100);
	    });
	</script>
</div>
		<!-- e.sub common -->

		<div id="DivIdToPrint">
        <div><div class="trunk housing-page" id="cms">
    <div>
        <div>
            <div>

                <!-- s : 클래스명이 stem인 div 안의 내용 전반적 수정  -->

                <div id="DivIdToPrint">
                <div class="stem">
                <div class="bine-12">
                    <h3 class="center">신혼부부전용 전세자금 대출</h3>
                    <div class="spacer"></div>
                </div>
                <div class="clearfix"></div>
            
                <div class="bine-12">
                    <div class="content-block">
                        <div class="content-title">
                            <h4>대출대상</h4>
                            <img src="../assets/images/cms/ico-title-26.png" alt="">
                        </div>
                        <div class="content-box">
                            <ul class="list_non">
                                <li>
                                    <span class="mark circle"></span>
                                    <div>부부합산 연소득 7.5천만원 이하, 순자산가액 3.37억원 이하 무주택 세대주</div>
                                </li>
                                <li>
                                    <span class="mark circle"></span>
                                    <div>혼인기간 7년 이내(또는 3개월 이내 결혼예정자)인 신혼부부</div>
                                </li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                        </div>
            
                        <div class="content-block">
                            <div class="content-title">
                                <h4>대상주택</h4>
                                <img src="../assets/images/cms/ico-title-19.png" alt="">
                            </div>
                            <div class="content-box">
                                <ul class="list_non">
                                    <li>
                                        <span class="mark circle"></span>
                                        <div>
                                            <p>임차 전용면적</p>
                                            <ul class="list_non">
                                                <li>
                                                    <span class="mark">-</span>
                                                    <div>임차 전용면적 85㎡ (수도권을 제외한 도시지역이 아닌 읍 또는 면지역은 100㎡) 이하 주택(주거용 오피스텔은 85㎡이하 포함) 및 채권양도협약기관 소유의 기숙사(호수가 구분되어 있고 전입신고가 가능한 경우에 한함)</div>
                                                </li>
                                                <li>
                                                    <span class="mark">*</span>
                                                    <div>단, 쉐어하우스(채권양도협약기관 소유주택에 한함)에 입주하는 경우 예외적으로 면적 제한 없음</div>
                                                </li>
                                            </ul>
                                    <li>
                                        <span class="mark circle"></span>
                                        <div>
                                            <p>임차보증금</p>
                                            <ul class="list_non">
                                                <li>
                                                    <span class="mark">-</span>
                                                    <div>수도권 4억원, 수도권 외 3억원</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
            
                        <div class="content-block">
                            <div class="content-title">
                                <h4>대출금리</h4>
                                <img src="../assets/images/cms/ico-title-27.png" alt="">
                            </div>
                            <div class="content-box">
                            <div class="table-caption right">변동금리(국토교통부 고시)</div>
                            <div class="table-wrap">
                                <table>
                                <caption class="hidden" style="font-size:inherit;">부부합산 연소득과 임차보증금으로 구성된 표</caption>
                                    <colgroup>
                                        <col width="30%">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="15%">
                                    </colgroup>

                                    <thead>
                                        <tr>
                                            <th rowspan="2" scope="col">부부연소득</th>
                                            <th colspan="4" scope="col">임차보증금</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">5천만원 이하</th>
                                            <th scope="col">5천만 초과 ~ 1억원 이하</th>
                                            <th scope="col">1억원 초과 ~ 1.5억 이하</th>
                                            <th scope="col">1.5억 초과</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="center"> ~ 2천만원 이하</td>
                                            <td class="center">연 1.9%</td>
                                            <td class="center">연 2.0%</td>
                                            <td class="center">연 2.1%</td>
                                            <td class="center">연 2.2%</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="center">2천만원 초과 ~ 4천만원 이하</td>
                                            <td class="center">연 2.2%</td>
                                            <td class="center">연 2.3%</td>
                                            <td class="center">연 2.4%</td>
                                            <td class="center">연 2.5%</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="center">4천만원 초과 ~ 6천만원 이하</td>
                                            <td class="center">연 2.6%</td>
                                            <td class="center">연 2.7%</td>
                                            <td class="center">연 2.8%</td>
                                            <td class="center">연 2.9%</td>
                                        </tr>
                                        <tr>
                                            <td class="center">6천만원 초과 ~ 7.5천만원 이하</td>
                                            <td class="center">연 3.0%</td>
                                            <td class="center">연 3.1%</td>
                                            <td class="center">연 3.2%</td>
                                            <td class="center">연 3.3%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="annodetail">
                                <p>* 대출대상주택이 지방 소재인 경우 0.2%p 인하  </p>
                                <ul class="list_non">
                                    <li>
                                        <span class="mark">*</span>
                                        <div> 금리우대 
                                            <ul class="list_non">
                                                <li>
                                                    <span class="mark">①</span>
                                                    <div> 다자녀가구 연 0.7%p, 2자녀가구 연 0.5%p, 1자녀가구 연 0.3%p(단, 2025.3.24. 신규접수분부터는 자녀 1명당 4년간 적용하며 적용기간은 최대 12년 이내로 정함)</div>
                                                </li>
                                            </ul>                                                    
                                        </div>
                                    </li>
                                    <li>
                                        <span class="mark">*</span>
                                        <div> 주가우대금리(①,② 중복 적용 가능) 
                                            <ul class="list_non">
                                                <li>
                                                    <span class="mark">①</span>
                                                    <div> 부동산 전자계약 체결(2025.12.31. 신규 접수분까지) 연 0.1%p (최초 대출기한 1회 적용) </div>
                                                </li>
                                                <li>
                                                    <span class="mark">②</span>
                                                    <div>대출신청 금액이 대출심사를 통해 산정한 금액의 30% 이하인 경우 연 0.2%p (2024.7.31. 신규접수분부터 적용 가능, 대출실행일로부터 최대 4년 적용) 
                                                        <ul class="list_non">
                                                            <li>
                                                                <span class="mark">-</span>
                                                                <div>  대출심사를 통해 산정한 대출금액 : 호당대출한도, 소요자금에 대한 대출비율로 산정한 금액, 기존 전세자금대출 잔액(대환에 한함) 중 작은 금액<br><br></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="mark">※</span>
                                                    <div> 우대금리 적용 후 최종금리가 연 1.0% 미만인 경우에는 연 1.0%로 적용(단, 우대금리 적용 상한은 0.5%p로 하되, 다자녀가구는 0.7%p로 한다.) </div>
                                                </li>
                                                <li>
                                                    <span class="mark">※</span>
                                                    <div> 자산심사 부적격자의 경우 가산금리가 부과 자산심사 관련 자세한 사항은 기금포탈 [고객서비스]-[자산심사 및 금리안내]-[자산 심사 안내]를 참고</div>
                                                </li>
                                                <li>
                                                    <span class="mark">※</span>
                                                    <div> 최종 우대금리의 적용은 수탁은행의 서류 심사 결과에 따라 결정되오니, 수탁운행 상담 필요</div>
                                                </li>
                                            </ul>                                                    
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        </div>
            
                        <div class="content-block">
                            <div class="content-title">
                                <h4>대출한도 및 기간</h4>
                                <img src="../assets/images/cms/ico-title-28.png" alt="">
                            </div>
                            <div class="content-box">
                                <ul>
                                    <li>
                                        <strong class="blue">대출한도</strong> : 수도권 2.5억원, 수도권 외 1.6억원 이내(임차보증금의 80% 이내)
                                    </li>
                                    <li>
                                        <strong class="blue">대출기간</strong> : 2년(4회 연장, 최장 10년 이용가능)<br>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
            
                        <div class="content-block">
                            <div class="content-title">
                                <h4>참고사항</h4>
                                <img src="../assets/images/cms/ico-title-32.png" alt="">
                            </div>
                            <div class="content-box">
                            <div class="annotation">자세한 내용은 주택도시기금 홈페이지(<a href="https://nhuf.molit.go.kr/FP/FP05/FP0502/FP05020401.jsp" target="_blank" title="새 창 열림">http://nhuf.molit.go.kr</a>)에서 확인하실 수 있습니다.</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
            
                        <div class="content-block">
                            <div class="content-title">
                                <h4>상담문의</h4>
                                <img src="../assets/images/cms/ico-title-07.png" alt="">
                            </div>
                            <div class="content-box">
                                <ul class="list_non">
                                    <li>
                                        <span class="mark circle"></span>
                                        <div>대출 심사 관련한 상담은 주택도시보증공사 콜센터 1566-9009 및 기금 수탁은행 지점에서 가능</div>
                                    </li>
                                    <li>
                                        <span class="mark circle"></span>
                                        <div>자산심사 관련한 상담은 자산심사 전용 상담센터 1551-3119 및 심사 진행 중 안내된 담당자 번호로 문의</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                                    
                    </div>
                    <div class="clearfix"></div>
                    <div class="h100"></div>
            
                </div>

                <!-- e : 클래스명이 stem인 div 안의 내용 전반적 수정  -->

            </div>
        </div>
    </div>
</div>
</div></div>
        </div>

        <!-- Content End -->

        <!--스타일적용해야함-->
<!--        <div class="cms-btn-wrap" th:if="${fileList != null && #lists.size(fileList) > 0}"> -->
		<div class="cms-btn-wrap">
            <p>※ 본 내용은 관련 법령 및 지침의 제·개정에 따라 변경될 수 있으므로 참고 자료로만 활용하시고, 반드시 실제 공고문을 확인하시기 바랍니다.</p>
            <!--<a th:href="@{/api/v2/download(id=${fileList[0].id})}" class="dn-docs"><img src="/assets/images/icon-file.png" alt="" class="icon-file" /> <span>상세내용 보기</span></a> -->
        </div>

		<div class="h20"></div>
		<div>
			<div class="consult-buttons" style="clear: both; margin: 0 auto; font-size: 0; max-width: 1000px; width: 98%; text-align: center">
				<a class="gcbtn blue" href="/html/24101.do" id="preBtn" style="display: none; color: #fff; width: 49%; box-sizing: border-box; -webkit-box-sizing: border-box">
					<span id="prePage"></span>
				</a>
				<a class="gcbtn blue" href="/html/24103.do" id="nextBtn" style=" display: none; color: #fff; width: 49%; box-sizing: border-box; -webkit-box-sizing: border-box; margin-left: 2%;">
					<span id="nextPage"></span>
				</a>
			</div>
		</div>		
		<div class="h50"></div>
        <div>

<!-- Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-QNE21LETXX"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-QNE21LETXX');
</script>

<footer>
    <div class="footer-cont">
        <p class="visit-cont">
            경기주거복지포털 방문 수 <span class="cnt">13,358,890</span>
        </p>
        <div class="logo-grp">
            <h3><a class="footer-logo" href="/"><img alt="경기도 주거복지센터" src="/assets/renewal2/images/common/icon_footer_logo.png" /></a></h3>
        </div>
        <div class="address-grp">
            <div class="link-area">
                <a class="point" title="개인정보처리방침" href="/main/service_privacy.do">개인정보처리방침</a>
                <a title="이용약관" href="/main/service_term.do">이용약관</a>
                <a title="이메일 무단수집거부" href="/main/service_mail.do">이메일 무단수집거부</a>
                <a title="사이트맵" href="/main/service_sitemap.do">사이트맵</a>
            </div>
            <address>
                <p>경기도 수원시 영통구 도청로 50 &nbsp;&nbsp;우편번호 16508</p>
                <p class="copyright">COPYRIGHT (C) 2022 GYEONGGI PROVINCE All Rights Reserved.</p>
            </address>
        </div>
        <div class="wa">
            <a href="http://www.wa.or.kr/" target="_blank" title="한국웹접근성인증평가원-새 창 열림"><img alt="과학기술정보통신부 WA/WEB접근성 한국웹접근성인증평가원 2026.02.24~2027.02.23" src="/assets/renewal2/images/common/icon_wa.png" /></a>
        </div>
    </div>
</footer>
<!--
<aside class="chat-bot">
    <button type="button" class="chatbot"><img th:src="@{/assets/renewal2/images/common/icon_chat.png}" alt="경기도 전세피해지원센터 안내 챗봇"></button>
</aside>
-->

<!-- Makebot 플로팅 버튼 위치/크기 (기존 footer.html과 동일) -->
<style>
		.makechat_wg_btn_show {
			bottom: 21px !important;
			right: 68px !important;
		}

        .makechat_wg_btn_show img{
            position:absolute; 
            border-radius: 0px !important;
            width: 190px !important;
            height: 121px !important;
            right: 0px !important;  
            bottom: 0px !important;
        }
        @media (max-width: 1024px){
        	.makechat_wg_btn_show {
	        	right: .7692rem !important;
        	}
			.makechat_wg_btn_show img{
				width: 9.2308rem !important;
				height: 6.1538rem !important;
	        }
        }
</style>

<!-- Makebot chatbot 연동 -->
<script>
    var mk_API = {'key':'n0f89ew05'}, mk_time = new Date();
    (function(){
        var mk1 = document.createElement("script"), mk0 = document.getElementsByTagName("script")[0];
        mk1.src = 'https://chat.makebot.ai/plugin?key=n0f89ew05&t=' + mk_time.getTime();
        mk0.parentNode.insertBefore(mk1, mk0);
        setTimeout(function(){
            $(".makechat_wg_btn_show").attr("title", "챗봇 열기");
        }, 1000);
    })();
</script>

<script>
var logout_time = 60; // 60minute
var logoutTimer; 
$(function() {
	if (SCRIPT_SESSION.userCd !=null && SCRIPT_SESSION.userCd !=''){
		//console.log("setInterval out_time");
		logoutTimer = setInterval('out_time()', 60000);
	}else{
		//console.log("session is null");
	}
});

function out_time() {//console.log("out_time:"+logout_time);
	--logout_time;

	if (logout_time < 1) {
		clearInterval(logoutTimer);
		fnSessionLogout();
	}
}

function fnSessionLogout() {
	location.href='/mypage/logout2.do';
}
</script></div>
    </div>


</body></html>